.stock-input-container {
    position: relative;
    padding: 30px;

    width: 300px;

    color: #444;
    font-size: x-large;
    transition: all 0.4s ease;
}

.stock-input-container input, .stock-input-container select, .stock-input-container .submit-button {
    width: 100%;
    height: 40px;

    margin-top: 20px;
    font-size: x-large;
}

